@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Raleway:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Raleway', sans-serif;
}

.container{
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    background-color: burlywood;
    padding: 20px;

}

.chip{
    background-color: white;
    color:black;
    display: inline-block;
    padding:0 25px;
    margin-right: 15px;
    height:50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;

}
.chip:hover{
    background-color: black;
    color: white;
}
.closebtn{
    padding-left: 10px;
    color: #888;
    font-size: 25px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.closebtn:hover{
    color: black;
}

.stacked-container{
    display:flex;
    justify-content: start;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    background-color: burlywood;
    padding: 20px;

}

.stacked-container .chip{
    margin-top: 10px;
    max-width: 300px;
}