

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Raleway:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Raleway', sans-serif;
}
a{
    background-color: black;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 5px 5px;
}
i {
    font-size: 16px;
    padding: 5px 5px;
    margin: 5px 5px;
  }

  a:hover, i:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

/*------------- basic card----------------- */

.basic-card{
    background-color: white;
    width: 400px;
    max-height: 700px;
    border-radius: 15px;
}

.card-img{
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.cardimg{
    background-image: url("https://picsum.photos/300/200");
}

.sub-title, .title, p{
    padding: 10px;
}


.basic-card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
}

.btn-basic {
    align-items: center;
    display: flex; 
    justify-content: space-between;
    padding:5px 5px;
  }

  /* --------------basic with header------------ */

  .card-img-header{
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;

}


/* ----------------card basic button only------------- */

.btn-basic-btnonly{
    align-items: center;
    display: flex; 
    padding:5px 5px;

}

/* ------------------card with only icon----------- */
.btn-basic-icononly{
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 5px;
}

/* ----------horizantal card-------------- */

.basic-card-hori{
    background-color: white;
    width: 400px;
    max-height: 700px;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}
.card-title-hori {
    display: flex;
    flex-flow: row wrap;
  }

.img-basic-hori {
    border-radius: 3%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 6rem;
    height: 6rem;
  }
  
.title-subtitle-hori {
    flex-grow: 1;
    align-self: center;
  }

/* ----------text overlap card-------------- */
.overtext-card{
    position: relative;
}
.title-subtitle-overlay {
    position: absolute;
    top: 25%;
  }